@CHARSET "UTF-8";

body {
	padding-top : 50px;
}

.lefthalf {
	margin-top:5px; 
	margin-right:5px; 
	margin-bottom:5px; 
	margin-left:5px;}
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

/* Vertical Sortable */
.vthumbnail[jqyoui-droppable] {
	border: 1px solid red;
}

/*
.vthumbnail {
	height: 50px;
	width: 50px;
	text-align: center;
	padding-top: 0px;
	cursor: pointer;
	background: rgb(182, 173, 123);
	position: relative;
	-webkit-transition: none;
	transition: none;
	float: none !important;
}*/
.vthumbnail {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 150px;
}

.vthumbnail.ng-leave {
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
	opacity: 1;
}

.vthumbnail.ng-leave.ng-leave-active {
	opacity: 0;
}

.vthumbnail.ng-enter {
	-webkit-transition: top 0.3s;
	transition: top 0.3s;
}

.vthumbnail.ng-enter[data-direction="left"] {
	top: -76px; /* 56px width + 20px marginBottom */
}

.vthumbnail.ng-enter[data-direction="right"] {
	top: 76px; /* 56px width + 20px marginBottom */
}

.vthumbnail.ng-enter.ng-enter-active {
	top: 0px;
}

.stepContainer > div {
	height: 80px;
}

.uil {
	width: 140px;
	float: left;
}

.uin {
	width: 60px;
	float: left;
	/*overflow: hidden;*/
}

.numberCircle {
	border-radius: 50%;
	behavior: url(PIE.htc);
	
	width: 36px;
    height: 36px;
    padding: 8px;
    
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    
    font: 32px Arial, sans-serif;
}

.uil, .uin, .uii, .uic {
	position: relative;
}

.uii {
	margin-right: 25px;
	margin-left: 210px;
	/*overflow: hidden;*/
}

.uic {
	float: right;
	top: -80px;
}

.verti {
	display: block;
	cursor: pointer;
	margin: 5px 5px 5px 5px;
	background-color: #aaaaaa;
}

.info {
  position: relative;
    height: 100%;
}
tr .progress{
  width: 96%;
  display: inline-block;
}
tr .progress-bar {
    min-height: 20px;
    float: none;
}
tr .progress, tr .progress div {
  height: 20px;
}

tr .progress .chunk-status {
    position: absolute;
    left: 24px;
    top: 0;
}
tr .progressCancel{
  display: inline-block;
  float: right;
  position: relative;
  z-index: 100;
  color: #333;
  text-decoration: none;
}
.status {
  position: absolute;
  width: 100%;
  top:0;
  left: 24px;
}