@CHARSET "UTF-8";

body {
	padding-top : 50px;
}

.lefthalf {
	margin-top:5px; 
	margin-right:5px; 
	margin-bottom:5px; 
	margin-left:5px;}
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

/* Vertical Sortable */
.vthumbnail[jqyoui-droppable] {
	border: 1px solid red;
}

.vthumbnail {
	/*height: 50px;*/
	/*width: 50px;*/
	text-align: center;
	padding-top: 0px;
	cursor: pointer;
	background: rgb(182, 173, 123);
	position: relative;
	-webkit-transition: none;
	transition: none;
	float: none !important;
}

.vthumbnail.ng-leave {
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
	opacity: 1;
}

.vthumbnail.ng-leave.ng-leave-active {
	opacity: 0;
}

.vthumbnail.ng-enter {
	-webkit-transition: top 0.3s;
	transition: top 0.3s;
}

.vthumbnail.ng-enter[data-direction="left"] {
	top: -76px; /* 56px width + 20px marginBottom */
}

.vthumbnail.ng-enter[data-direction="right"] {
	top: 76px; /* 56px width + 20px marginBottom */
}

.vthumbnail.ng-enter.ng-enter-active {
	top: 0px;
}