<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
			"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias alias="GoodXUser" type="com.goodx.models.GoodXUser"/>
		<typeAlias alias="GoodXTopic" type="com.goodx.models.GoodXTopic"/>
		<typeAlias alias="GoodXStep" type="com.goodx.models.GoodXStep"/>
		<typeAlias alias="GoodXReply" type="com.goodx.models.GoodXReply"/>
		<typeAlias alias="GoodXNewTopic" type="com.goodx.models.GoodXNewTopic"/>
	</typeAliases>
</configuration>