
<form name="signupForm" novalidate="novalidate" data-ng-submit="createUser(signupForm)">
	<div class="form-group">
		<label class="radio-inline"><input type="radio" value="m"
			data-ng-model="form.gender">男</label> <label class="radio-inline"><input
			type="radio" value="f" data-ng-model="form.gender">女</label>
	</div>
	<div class="form-group">
		<label for="userName">用 户 名:</label> <input type="text"
			class="form-control" id="userName" name="userName" value=""
			data-ng-model="form.userName" required="required" />
	</div>
	<div class="form-group">
		<label for="emailAddress">邮 箱:</label> <input type="email"
			class="form-control" id="emailAddress" name="emailAddress" value=""
			data-ng-model="form.emailAddress" required="required" />
	</div>
	<div class="form-group">
		<label for="password">输入密码:</label> <input type="password"
			class="form-control" id="password" name="password" value=""
			data-ng-model="form.password" required="required" />
	</div>
	<div class="form-group">
		<label for="confirmPassword">确认密码:</label> <input type="password"
			class="form-control" id="confirmPassword" name="confirmPassword"
			value="" data-ng-model="form.confirmPassword" required="required" />
	</div>
	<div class="error" data-ng-show="showValidation">密码不一致！</div>

	<button type="submit" class="btn btn-primary btn-block">注册</button>
	<div>
		<p>
			已有账户？请<a data-ng-click="setMode(1)">登录<i
				class="icon-circle-arrow-right"></i></a>
		</p>
	</div>
</form>
